@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Trap Black";
  src: url("./assets/font-faces/Trap-Black.otf");
}

@font-face {
  font-family: "Trap Bold";
  src: url("./assets/font-faces/Trap-Bold.otf");
}

@font-face {
  font-family: "Trap ExtraBold";
  src: url("./assets/font-faces/Trap-ExtraBold.otf");
}

@font-face {
  font-family: "Trap Light";
  src: url("./assets/font-faces/Trap-Light.otf");
}

@font-face {
  font-family: "Trap Medium";
  src: url("./assets/font-faces/Trap-Medium.otf");
}

@font-face {
  font-family: "Trap Regular";
  src: url("./assets/font-faces/Trap-Regular.otf");
}

@font-face {
  font-family: "Trap SemiBold";
  src: url("./assets/font-faces/Trap-SemiBold.otf");
}

html {
  font-family: "Trap Regular", sans-serif;
}
